body {
	background-color: black;
}

form {
	margin-bottom: 20px;
}

.jumbotron {
	background-color: #FFD700;
}

label {
	color: white;
}

.lead {
	color: blue;
	font-style: italic;
}

button {
	margin-left: 8px;
	margin-right: 8px;
	background-color: purple;
	color: white;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;

}

img {
	margin: 20px 20px 20px 20px;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive;
	margin-bottom: 15px;
}

.upstaged {
	font-size: 60px;
	color: red;
}


.topicButton:hover {
	background-color: red;
}

p {
	color: white;
}

#addSearch:hover {
	background-color: red;
}

#addSearch {
	background-color: purple;
	color: white;
	padding: 3px 8px 3px 8px;
}

#searchInput {
	margin-left: 5px;
	margin-right: 5px;
}

.prompt {
	color: red;
	font-size: 36px;
	font-family: 'Abel', sans-serif;
	height: 51px;
}


@media screen and (max-width: 768px) {
	img {
		width: 100%;
	}

	#searchButtons {
		width: 100%;
	}
}

